CRM & Sales/Dynamic Lead Enrichment & Smart Geo-Router/Dynamic Lead Enrichment & Smart Geo-Router.json
{
  "name": "Dynamic Lead Enrichment & Smart Geo-Router (Sandbox)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        0
      ],
      "id": "cb370933-b8a6-4c60-9942-83ee646da23d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=https://jsonplaceholder.typicode.com/users/{{ (parseInt($json.lead_id.split('-')[1]) % 10) + 1 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        16
      ],
      "id": "c6c53e6f-dee6-4374-ba58-e28e0039a228",
      "name": "Company Size",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://jsonplaceholder.typicode.com/todos/{{ (parseInt($json.lead_id.split('-')[1]) % 10) + 1 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        208
      ],
      "id": "df95c691-5459-4527-93e1-378c3caff1df",
      "name": "Status",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        416,
        -176
      ],
      "id": "4d9809af-1d51-4d73-b3f9-3d56fb01c752",
      "name": "Sent to Nurture sheet"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        720,
        -176
      ],
      "id": "32b44776-26f6-456b-a139-1e3f5bb5a88e",
      "name": "Slack Message Update"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c7f6135-9efb-427f-afeb-5d93a464ca7e",
              "name": "Lead Score",
              "value": "={{ $json.company && $json.company.catchPhrase ? ($json.company.catchPhrase.length * 150 > 5000 ? 100 : 50) : 10 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        112
      ],
      "id": "43987608-c35a-467e-bd52-6891f943a840",
      "name": "Score"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "id",
        "joinMode": "keepEverything",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        112
      ],
      "id": "8757c4b2-91e0-483a-86e2-60832428edcc",
      "name": "Enrichment Combination"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2806d1aa-f99d-4f60-bd0e-c9ac156853d9",
              "name": "=Lead Score",
              "value": "=100",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        -48
      ],
      "id": "55d72863-57c2-4056-9acd-e47f0973fbbe",
      "name": "Score: 100"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98bece15-2218-4ae2-ae6a-80b6f3d67623",
              "name": "Lead Score",
              "value": 50,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        112
      ],
      "id": "3f9a6e94-a757-458d-a250-63285e22296c",
      "name": "Score: 50"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cec0c80-2eed-4ee6-a000-3589a900f883",
              "name": "Lead Score",
              "value": 10,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        272
      ],
      "id": "c53ee99b-8491-49cd-a76c-ce744af9423d",
      "name": "Score: 10"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1712,
        272
      ],
      "id": "97c4df08-638e-492e-90e6-62e7b9515ef2",
      "name": "Nurture Queue"
    },
    {
      "parameters": {
        "jsCode": "return[\n  {\n  \"lead_id\": \"LEAD-99823\",\n  \"email\": \"alex.mercer@cyberdyne.corp\",\n  \"company_name\": \"Cyberdyne Systems\",\n  \"requested_demo\": \"Enterprise AI Suite\",\n  \"country_code\": \"us\"\n  },\n  {\n  \"lead_id\": \"LEAD-99825\",\n  \"email\": \"john.cena@yahoo.com\",\n  \"company_name\": \"WWE Systems\",\n  \"requested_demo\": \"Wrestle AI Suite\",\n  \"country_code\": \"us\"\n  },\n  {\n  \"lead_id\": \"LEAD-99829\",\n  \"email\": \"dwayne.johnson@tcic.org\",\n  \"company_name\": \"TCIC IT Systems\",\n  \"requested_demo\": \"Workflow solutions\",\n  \"country_code\": \"eu\"\n  },\n  {\n  \"lead_id\": \"LEAD-99900\",\n  \"email\": \"sayidhh.akim@emborg.net\",\n  \"company_name\": \"Cheezy Systems\",\n  \"requested_demo\": \"Sheese Pulls\",\n  \"country_code\": \"eu\"\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        0
      ],
      "id": "309d9b4b-f071-436d-bc03-5482b8c59e8e",
      "name": "mockInfo"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2176,
        -256
      ],
      "id": "5c4276df-46aa-4fbc-8c8a-5727f39ede71",
      "name": "infoSentToSlack"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2176,
        -112
      ],
      "id": "9eff3e8f-52bb-4647-85cb-56056ca57e17",
      "name": "infoSentToSlack1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "userData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1968,
        -256
      ],
      "id": "631dfd7e-241d-474b-9f06-e48b8d007313",
      "name": "UScompressData"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "userData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1968,
        -112
      ],
      "id": "1cc36b1e-ebf8-47a3-af5a-7be3e8d0adff",
      "name": "EUcompressData"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('mockInfo').item.json.country_code }}",
                    "rightValue": "us",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "78f1ca11-1956-4bd6-a78f-87647c7cff02"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "US"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b0822a4d-dffb-45a4-949e-f491b779be91",
                    "leftValue": "={{ $('mockInfo').item.json.country_code }}",
                    "rightValue": "eu",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EU"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1712,
        -48
      ],
      "id": "2375a91f-4aa1-4b72-8f35-4f968ed9a3a4",
      "name": "US | EU ?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2176,
        32
      ],
      "id": "be723e6d-fde7-4425-bcb8-b9b0577140fe",
      "name": "infoSentToSlack2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2176,
        176
      ],
      "id": "b2304e25-f50c-43ae-9e3d-13d442e05dbe",
      "name": "infoSentToSlack3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "userData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1968,
        32
      ],
      "id": "4a7460af-3e47-42b9-b9eb-15e57680f794",
      "name": "UScompressData1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "userData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1968,
        176
      ],
      "id": "7d720be6-afab-4eee-b170-1614d15efaa6",
      "name": "EUcompressData1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('mockInfo').item.json.country_code }}",
                    "rightValue": "us",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "78f1ca11-1956-4bd6-a78f-87647c7cff02"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "US"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b0822a4d-dffb-45a4-949e-f491b779be91",
                    "leftValue": "={{ $('mockInfo').item.json.country_code }}",
                    "rightValue": "eu",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EU"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1712,
        112
      ],
      "id": "04f8129a-d0dd-42e1-88d5-423ff3e6f074",
      "name": "US | EU ?1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1968,
        320
      ],
      "id": "252de02e-dbda-47d9-9766-1cfa61a9e1de",
      "name": "Slack Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb753549-157d-4d0d-a3cf-f51c33ee450c",
              "name": "Message ",
              "value": "=🚨 API Enrichment Failure Alert! Lead ID: {{ $json.lead_id }} ({{ $json.email }}) could not be enriched.  System safely assigned a baseline Score of 10 and routed them to Nurture. Please check API status.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        272
      ],
      "id": "29026971-551b-4158-965a-c597fede5789",
      "name": "Error Alert"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Lead Score'] }}",
                    "rightValue": 100,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "88df5399-72b8-4cda-9b75-b73db88f23ca"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "100"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "77aaefaa-a76b-493d-83f0-c63e8428f1ac",
                    "leftValue": "={{ $json['Lead Score'] }}",
                    "rightValue": 50,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "50"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f7b6d84b-2485-40a1-a281-e7011bb054f5",
                    "leftValue": "={{ $json['Lead Score'] }}",
                    "rightValue": 50,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "50"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cb9ebe00-6990-490f-9ecc-7a6d0f7e1b7e",
                    "leftValue": "={{ $json['Lead Score'] }}",
                    "rightValue": 10,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1152,
        80
      ],
      "id": "c6a56a3a-0ec0-49bb-8b5a-28e44724f416",
      "name": "scorePath"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5be9562b-cc37-4865-bab0-aac278254b82",
              "leftValue": "={{ $json.email }}",
              "rightValue": "@(gmail|yahoo|outlook|hotmail)\\.com$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        16,
        0
      ],
      "id": "761e25b9-7bc7-4c04-a09f-4e089c7c8fdc",
      "name": "Generic Email?"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "mockInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Size": {
      "main": [
        [
          {
            "node": "Enrichment Combination",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status": {
      "main": [
        [
          {
            "node": "Enrichment Combination",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sent to Nurture sheet": {
      "main": [
        [
          {
            "node": "Slack Message Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score": {
      "main": [
        [
          {
            "node": "scorePath",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrichment Combination": {
      "main": [
        [
          {
            "node": "Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score: 10": {
      "main": [
        [
          {
            "node": "Nurture Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score: 100": {
      "main": [
        [
          {
            "node": "US | EU ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mockInfo": {
      "main": [
        [
          {
            "node": "Generic Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UScompressData": {
      "main": [
        [
          {
            "node": "infoSentToSlack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EUcompressData": {
      "main": [
        [
          {
            "node": "infoSentToSlack1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "US | EU ?": {
      "main": [
        [
          {
            "node": "UScompressData",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "EUcompressData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UScompressData1": {
      "main": [
        [
          {
            "node": "infoSentToSlack2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EUcompressData1": {
      "main": [
        [
          {
            "node": "infoSentToSlack3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "US | EU ?1": {
      "main": [
        [
          {
            "node": "UScompressData1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "EUcompressData1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score: 50": {
      "main": [
        [
          {
            "node": "US | EU ?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nurture Queue": {
      "main": [
        [
          {
            "node": "Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Alert": {
      "main": [
        [
          {
            "node": "Score: 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scorePath": {
      "main": [
        [
          {
            "node": "Score: 100",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Score: 50",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Score: 50",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Score: 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generic Email?": {
      "main": [
        [
          {
            "node": "Sent to Nurture sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Company Size",
            "type": "main",
            "index": 0
          },
          {
            "node": "Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e11b864d-906b-4ae9-b301-ee31c31ce4a1",
  "meta": {
    "instanceId": "dff061bc3c380400a4adcd35369e48669eb2b46de5ce5cb4effb0d2c7761d8e2"
  },
  "nodeGroups": [],
  "id": "MYHDZgQIXsvvSZDW",
  "tags": []
}