Human Resources/The Phantom User & License Leak Auditor/The Phantom User & License Leak Auditor.json
{
  "name": "The Phantom User & License Leak Auditor (Sandbox)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        0
      ],
      "id": "60b13be4-8aaa-4231-a8f6-b1ce00a50b65",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        624,
        -112
      ],
      "id": "3332ad92-100c-4b38-8532-8d95d1e17256",
      "name": "Message (Active w/o License)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1e2c0b98-cd7a-43a1-8cfa-f45b361e14bb",
              "leftValue": "={{ $json.status }}",
              "rightValue": "Active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        0
      ],
      "id": "c856182d-3609-4a5e-87e8-e32896542d5d",
      "name": "Active User?"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "empId",
              "field2": "userEmpId"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        192,
        0
      ],
      "id": "3d0eaaeb-fd59-4639-8fec-ad258a0d895f",
      "name": "Filter Phantom Users"
    },
    {
      "parameters": {
        "jsCode": "return[\n  { \"empId\": \"E101\", \"name\": \"Tony Stark\", \"status\": \"Active\", \"dept\": \"Engineering\" },\n  { \"empId\": \"E102\", \"name\": \"Sarah Connor\", \"status\": \"Active\", \"dept\": \"Sales\" },\n  { \"empId\": \"E103\", \"name\": \"Bruce Wayne\", \"status\": \"Active\", \"dept\": \"Executive\" },\n  { \"empId\": \"E104\", \"name\": \"Diana Prince\", \"status\": \"Active\", \"dept\": \"Legal\" }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -144
      ],
      "id": "ce557da9-7704-4035-ae2c-57d305b06a55",
      "name": "Master HR Roster"
    },
    {
      "parameters": {
        "jsCode": "return[\n  { \"licenseId\": \"L901\", \"userEmpId\": \"E101\", \"software\": \"Salesforce Premium\" },\n  { \"licenseId\": \"L902\", \"userEmpId\": \"E102\", \"software\": \"Salesforce Premium\" },\n  { \"licenseId\": \"L903\", \"userEmpId\": \"E888\", \"software\": \"Salesforce Premium\" }, \n  { \"licenseId\": \"L904\", \"userEmpId\": \"E104\", \"software\": \"Salesforce Premium\" },\n  { \"licenseId\": \"L905\", \"userEmpId\": \"E999\", \"software\": \"Salesforce Premium\" }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        160
      ],
      "id": "4922a619-ebb3-4500-aaf2-c2567f039a11",
      "name": "The Audit Target"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5057fb5f-e1bd-4525-9492-18f8fd9da575",
              "name": "=totalSeats",
              "value": "={{ $input.all().length }}",
              "type": "string"
            },
            {
              "id": "24462f9e-dcdf-4094-ae16-7d5ab3f01ea3",
              "name": "count",
              "value": "={{ $input.all().length * 150 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        112
      ],
      "id": "e252d704-e132-48bd-82db-429a8d9cf812",
      "name": "totalSeats",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d8abe630-5111-4fc1-80ef-1b6f4990051f",
              "leftValue": "={{ $json.count }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        112
      ],
      "id": "7d0a8103-af0a-4dff-a734-b542d27f2ef2",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1136,
        -64
      ],
      "id": "5ec8970d-a682-4ecc-93f3-e66bed693e21",
      "name": "IT Alert"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1136,
        240
      ],
      "id": "400b1d44-8463-49ca-9abf-459230d19804",
      "name": "low-priority log"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Master HR Roster",
            "type": "main",
            "index": 0
          },
          {
            "node": "The Audit Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Active User?": {
      "main": [
        [
          {
            "node": "Message (Active w/o License)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "totalSeats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Phantom Users": {
      "main": [
        [
          {
            "node": "Active User?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master HR Roster": {
      "main": [
        [
          {
            "node": "Filter Phantom Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "The Audit Target": {
      "main": [
        [
          {
            "node": "Filter Phantom Users",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "totalSeats": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "IT Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "low-priority log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "aff33f52-9062-4312-953a-8e9c59ffaf04",
  "meta": {
    "instanceId": "dff061bc3c380400a4adcd35369e48669eb2b46de5ce5cb4effb0d2c7761d8e2"
  },
  "nodeGroups": [],
  "id": "4QjJ4QwwboMZHsPT",
  "tags": []
}