Human Resources/New_User_Account_Provisioning_Pipeline/New_User_Account_Provisioning_Pipeline.json
{
  "name": "New User Account Provisioning Pipeline",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1h3_UxuvktklbkiabeMk8T5yuayoT6cvvIu736a1HMJ8",
          "mode": "list",
          "cachedResultName": "Data Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h3_UxuvktklbkiabeMk8T5yuayoT6cvvIu736a1HMJ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2719531,
          "mode": "list",
          "cachedResultName": "New Employee",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h3_UxuvktklbkiabeMk8T5yuayoT6cvvIu736a1HMJ8/edit#gid=2719531"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        0
      ],
      "id": "fec03ca6-6537-42ab-baff-8cb7637cd231",
      "name": "fetchDataFromSheets",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "Vc9LF7UwjdO7mwye",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "052c5581-8040-4861-884a-67a64637a5c0",
              "name": "Employee ID",
              "value": "={{ $json['Employee ID'] }}",
              "type": "string"
            },
            {
              "id": "ee718f40-0f4a-4c75-bf5d-7e2797f4ed34",
              "name": "Name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "3258df57-6df0-4cdd-bf9d-2e2153b4aba0",
              "name": "Company Email",
              "value": "={{ $json['Company Email'] }}",
              "type": "string"
            },
            {
              "id": "f42cbf0d-dbb5-4dcf-bcf1-63efce3a5ac2",
              "name": "Position",
              "value": "={{ $json.Position }}",
              "type": "string"
            },
            {
              "id": "5e48ec4b-320b-4dc5-a8cb-04ef9a48db14",
              "name": "Status",
              "value": "={{ $json.Status }}",
              "type": "string"
            },
            {
              "id": "ebb57ff4-63ef-48e6-aee2-04cc99070944",
              "name": "Tools Required",
              "value": "={{ $json['Tools Required'] }}",
              "type": "string"
            },
            {
              "id": "8a2029e4-cacd-4cf8-b6ae-210dbcd89ce6",
              "name": "temPassword",
              "value": "={{ Math.random().toString(36).slice(-8) + \"!A1\" }}",
              "type": "string"
            },
            {
              "id": "9077d332-7890-4ef2-aa06-a555b5c0a379",
              "name": "Department",
              "value": "={{ $json.Department }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        0
      ],
      "id": "697b6f25-f28f-467a-a6e7-0acea93f90b0",
      "name": "mapData"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Department }}",
                    "rightValue": "Engineering",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cb04b396-d47a-471e-917e-bbd7abc32d81"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Engineering"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8498dd04-f215-4303-a037-9d8538ba8286",
                    "leftValue": "={{ $json.Department }}",
                    "rightValue": "Sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sales"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e442ee5a-269a-41fc-950c-b9baeac3dffd",
                    "leftValue": "={{ $json.Department }}",
                    "rightValue": "Marketing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Marketing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0abdf1f4-bc0f-4a67-b886-a3271be9126f",
                    "leftValue": "={{ $json.Department }}",
                    "rightValue": "Human Resources",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Human Resources"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        64,
        -32
      ],
      "id": "8caf59af-c3d3-4719-92bb-cd479af52595",
      "name": "mapDepartment"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1826444.hstgr.cloud/webhook/3b46564d-a334-48ab-a488-04625f81defa",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json['Company Email'] }}\",\n  \"firstName\": \"{{ $json.Name.split(' ')[0] }}\",\n  \"lastName\": \"{{ $json.Name.split(' ').slice(1).join(' ') }}\",\n  \"department\": \"{{ $json.Department }}\",\n  \"position\": \"{{ $json.Position }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        352,
        -288
      ],
      "id": "c1b9a18f-9f34-4c65-9604-c50aee2ee3c9",
      "name": "engineeringMockProvisioning",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1826444.hstgr.cloud/webhook/eec0b608-e934-4909-b3e6-189739f43467",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json['Company Email'] }}\",\n  \"firstName\": \"{{ $json.Name.split(' ')[0] }}\",\n  \"lastName\": \"{{ $json.Name.split(' ').slice(1).join(' ') }}\",\n  \"department\": \"{{ $json.Department }}\",\n  \"position\": \"{{ $json.Position }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        352,
        -96
      ],
      "id": "b03c9fe7-5ffe-40cd-8fba-ec9e166f5d03",
      "name": "salesMockProvisioning",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1826444.hstgr.cloud/webhook/bc1588be-16e6-442b-9118-2ae6e2285818",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json['Company Email'] }}\",\n  \"firstName\": \"{{ $json.Name.split(' ')[0] }}\",\n  \"lastName\": \"{{ $json.Name.split(' ').slice(1).join(' ') }}\",\n  \"department\": \"{{ $json.Department }}\",\n  \"position\": \"{{ $json.Position }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        352,
        96
      ],
      "id": "4170e869-1423-4b33-a3a7-9897e65321ce",
      "name": "marketingMockProvisioning",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1826444.hstgr.cloud/webhook/fb179ebf-f079-4b57-baba-4cd97397881b",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json['Company Email'] }}\",\n  \"firstName\": \"{{ $json.Name.split(' ')[0] }}\",\n  \"lastName\": \"{{ $json.Name.split(' ').slice(1).join(' ') }}\",\n  \"department\": \"{{ $json.Department }}\",\n  \"position\": \"{{ $json.Position }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        352,
        288
      ],
      "id": "00715f6e-5235-4ff5-88d6-d26f038d19c1",
      "name": "HRMockProvisioning",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        624,
        -32
      ],
      "id": "f9a078ad-42cc-4233-be5b-c5bf759abc42",
      "name": "mapDataOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07042aeb-12a3-4593-b865-a664c6be03c8",
              "name": "Employee ID",
              "value": "={{ $('mapData').item.json['Employee ID'] }}",
              "type": "string"
            },
            {
              "id": "e406aac4-24bb-442c-b473-a296806d40c0",
              "name": "Name",
              "value": "={{ $json.receivedData.firstName }} {{ $json.receivedData.lastName }}",
              "type": "string"
            },
            {
              "id": "d0f6d15e-0c09-4d50-ab25-977a30a84dbe",
              "name": "Email",
              "value": "={{ $json.receivedData.email }}",
              "type": "string"
            },
            {
              "id": "9e2c3c73-6ba9-4225-809c-3217d492b815",
              "name": "Department",
              "value": "={{ $json.receivedData.department }}",
              "type": "string"
            },
            {
              "id": "ffddf957-2e41-4b34-bc62-606a30733de4",
              "name": "Position",
              "value": "={{ $json.receivedData.position }}",
              "type": "string"
            },
            {
              "id": "1527f208-dfcb-4ae4-85f3-84adf2ae09db",
              "name": "Status",
              "value": "={{ $json.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        0
      ],
      "id": "00d40308-92ef-4b98-abc2-b0a2d1cd0d66",
      "name": "editDataOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appC3sL1cqYpuqsZk",
          "mode": "list",
          "cachedResultName": "Account Provisioning",
          "cachedResultUrl": "https://airtable.com/appC3sL1cqYpuqsZk"
        },
        "table": {
          "__rl": true,
          "value": "tblP7NXZFDOcNCNmx",
          "mode": "list",
          "cachedResultName": "User Data",
          "cachedResultUrl": "https://airtable.com/appC3sL1cqYpuqsZk/tblP7NXZFDOcNCNmx"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Employee ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Position",
              "displayName": "Position",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Employee ID",
              "displayName": "Employee ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1008,
        0
      ],
      "id": "8bd94679-130f-4a1e-aa7d-33c5b6c13235",
      "name": "recordData",
      "credentials": {
        "airtableTokenApi": {
          "id": "ssI996l84MT9MFh7",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BJBS4D5L3",
          "mode": "list",
          "cachedResultName": "it-ops-n8n-test"
        },
        "text": "=\u2705 New hire provisioned: {{ $json.fields.Name }}\nDepartment: {{ $json.fields.Department }}\nStatus: {{ $json.fields.Status }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1248,
        -128
      ],
      "id": "f0934077-5f54-4f6c-b35f-eec7f0dc0bb9",
      "name": "slackNotifications",
      "webhookId": "893c7025-9e99-433f-8e25-305587e8b64f",
      "credentials": {
        "slackApi": {
          "id": "oXmlxJxaBqkWawKt",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "johnrexbautistanunez@gmail.com",
        "subject": "New Hire Provisioned!",
        "emailType": "text",
        "message": "=Hi Team!\n\nWe are happy to welcome {{ $json.fields.Name }}. He will be assign as {{ $json.fields.Position }} in {{ $json.fields.Department }} Department.\n\n\nCheers to the New Hire!\n\n\nRegards,\nPetmalu",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1232,
        112
      ],
      "id": "808eac31-04d1-4e9e-909a-fa3c467207f5",
      "name": "Send a message",
      "webhookId": "9e287cf1-56f6-4a3a-b536-cb55e9afe0a6",
      "credentials": {
        "gmailOAuth2": {
          "id": "EAAKkwBrTiZokWz3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BJBS4D5L3",
          "mode": "list",
          "cachedResultName": "it-ops-n8n-test"
        },
        "text": "=\ud83d\udea8 Provisioning Error\nEmployee: {{ $('mapData').item.json.Name }}\nDepartment: {{ $('mapData').item.json.Department }}\nFailed Step: {{ $json.node?.name || \"Unknown\" }}\nError: {{ $json.error?.message || $json.message }}\nTime: {{ $now }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1552,
        16
      ],
      "id": "8788b259-5458-4637-b953-52cc17415437",
      "name": "errorMessage",
      "webhookId": "baf63fb3-f0f9-401b-a450-0fd83d5ce8c8",
      "credentials": {
        "slackApi": {
          "id": "oXmlxJxaBqkWawKt",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "fetchDataFromSheets": {
      "main": [
        [
          {
            "node": "mapData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mapData": {
      "main": [
        [
          {
            "node": "mapDepartment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mapDepartment": {
      "main": [
        [
          {
            "node": "engineeringMockProvisioning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "salesMockProvisioning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "marketingMockProvisioning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HRMockProvisioning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "engineeringMockProvisioning": {
      "main": [
        [
          {
            "node": "mapDataOutput",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "errorMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "salesMockProvisioning": {
      "main": [
        [
          {
            "node": "mapDataOutput",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "errorMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "marketingMockProvisioning": {
      "main": [
        [
          {
            "node": "mapDataOutput",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "errorMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HRMockProvisioning": {
      "main": [
        [
          {
            "node": "mapDataOutput",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "errorMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mapDataOutput": {
      "main": [
        [
          {
            "node": "editDataOutput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "editDataOutput": {
      "main": [
        [
          {
            "node": "recordData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recordData": {
      "main": [
        [
          {
            "node": "slackNotifications",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "errorMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1e0fdf5b-abe6-4a68-8991-cf938f090475",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6e0c81e4fb59b429c00e146454cbad9c9647be357aed7cbe1314bb7130321d6"
  },
  "nodeGroups": [],
  "id": "5lpWNME6pk4Q3AlX",
  "tags": [
    {
      "updatedAt": "2026-07-16T13:06:23.888Z",
      "createdAt": "2026-07-16T13:06:23.888Z",
      "id": "BuqeEvlTGbwz9fk6",
      "name": "Sandbox"
    }
  ]
}
