Enterprise Lead Enrichment & Resilient CRM Sync Pipeline/Enterprise Lead Enrichment & Sync.json
{
  "name": "Enterprise Lead Enrichment & Sync",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        16
      ],
      "id": "e4d8d2ea-1023-4b12-8692-9e55e7189801",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      id: \"lead_001\",\n      name: \"Alex Rivera\",\n      email: \"alex.rivera@apexcorp.com\",\n      company: \"Apex Corp\",\n      employeeCount: 2500,\n      region: \"US\",\n      phone: \"555-0192\"\n    }\n  },\n  {\n    json: {\n      id: \"lead_002\",\n      name: \"Amélie Dupont\",\n      email: \"a.dupont@innovate.fr\",\n      company: \"Innovate Ltd\",\n      employeeCount: 150,\n      region: \"EU\",\n      phone: \"+33 1 42 27 78 00\"\n    }\n  },\n  {\n    json: {\n      id: \"lead_003\",\n      name: \"Bao Nguyen\",\n      email: \"nguyen.b@vanguard-tech.vn\",\n      company: \"Vanguard Tech\",\n      employeeCount: 5200,\n      region: \"APAC\",\n      phone: \"84-24-3768\"\n    }\n  },\n  {\n    json: {\n      id: \"lead_004\",\n      name: \"Sarah Jenkins\",\n      email: \"sjenkins@quantumscale.io\",\n      company: \"Quantum Scale\",\n      employeeCount: 45,\n      region: \"US\",\n      phone: \"555-0143\"\n    }\n  },\n  {\n    json: {\n      id: \"lead_005\",\n      name: \"Elena Rostova\",\n      email: \"e.rostova@cybernet-systems.de\",\n      company: \"Cybernet Systems\",\n      employeeCount: 12000,\n      region: \"EU\",\n      phone: \"+49 30 123456\"\n    }\n  },\n  {\n    json: {\n      id: \"lead_006\",\n      name: \"Marcus Aurelius\",\n      email: \"marcus@rome-consulting.it\",\n      company: \"Rome Consulting\",\n      employeeCount: 8,\n      region: \"EU\",\n      phone: \"+39 06 123456\"\n    }\n  },\n  {\n    json: {\n      id: \"lead_007\",\n      name: \"Diana Prince\",\n      email: \"diana.prince@themyscira.global\",\n      company: \"Themyscira Global\",\n      employeeCount: 850,\n      region: \"ROW\",\n      phone: \"123-4567\"\n    }\n  },\n  {\n    json: {\n      id: \"lead_008\",\n      name: \"Kenji Sato\",\n      email: \"sato.k@horizon-mfg.jp\",\n      company: \"Horizon Manufacturing\",\n      employeeCount: 6300,\n      region: \"APAC\",\n      phone: \"81-3-5555-0123\"\n    }\n  },\n  {\n    json: {\n      id: \"lead_009\",\n      name: \"Chloe Miller\",\n      email: \"cmiller@stratastart.com\",\n      company: \"Strata Start\",\n      employeeCount: 499,\n      region: \"US\",\n      phone: \"555-0188\"\n    }\n  },\n  {\n    json: {\n      id: \"lead_010\",\n      name: \"Tariq Mahmood\",\n      email: \"t.mahmood@atlas-logistics.ae\",\n      company: \"Atlas Logistics\",\n      employeeCount: 1100,\n      region: \"ROW\",\n      phone: \"+971 4 123 4567\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        16
      ],
      "id": "56c4d841-17f9-4092-be71-3f23b616f7bc",
      "name": "mockData"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a72c3f2e-d757-4db7-8c09-d85db33d1fd1",
              "name": "targetEnv",
              "value": "production",
              "type": "string"
            },
            {
              "id": "7819c6b3-08cc-4c3b-a7a9-7ac154aa21b3",
              "name": "min_enterprise_size",
              "value": 1000,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        16
      ],
      "id": "ad163927-03f0-40c7-959a-edf7cf16cc84",
      "name": "TargetEnv"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -96,
        16
      ],
      "id": "87009cc7-2949-41f4-bcba-80d261448d51",
      "name": "Loop Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dd65f191-941c-440d-8fc7-24ee45c6065a",
              "leftValue": "={{ $json.employeeCount }}",
              "rightValue": 1000,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        0
      ],
      "id": "dab64fb4-d95b-413c-9461-76e0ccd0e4d5",
      "name": "For Enrichment?"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get the company and region from the incoming item\nconst company = $input.item.json.company || 'Unknown';\nconst region = $input.item.json.region || 'ROW';\n\nlet hq_location = 'Global Operations HQ';\nlet lead_score = 75; // Default baseline score\n\n// Deterministic mock lookup based on the company name\nswitch (company) {\n  case 'Apex Corp':\n    hq_location = 'New York, USA';\n    lead_score = 95;\n    break;\n  case 'Vanguard Tech':\n    hq_location = 'Hanoi, Vietnam';\n    lead_score = 90;\n    break;\n  case 'Cybernet Systems':\n    hq_location = 'Munich, Germany';\n    lead_score = 98;\n    break;\n  case 'Themyscira Global':\n    hq_location = 'Athens, Greece';\n    lead_score = 80;\n    break;\n  case 'Horizon Manufacturing':\n    hq_location = 'Tokyo, Japan';\n    lead_score = 88;\n    break;\n  case 'Atlas Logistics':\n    hq_location = 'Dubai, UAE';\n    lead_score = 85;\n    break;\n  default:\n    hq_location = 'Remote / Distributed';\n    lead_score = 70;\n}\n\n// Return the original data merged with our new enriched enterprise data\nreturn {\n  json: {\n    ...$input.item.json,\n    enriched: true,\n    enrichment_source: \"Enterprise_Data_Service_v2\",\n    hq_location: hq_location,\n    lead_score: lead_score\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -96
      ],
      "id": "3a96cda6-e862-4872-9230-800181c24bfd",
      "name": "Simulate HTTP Enrichment"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "150862db-eee3-4bae-ae29-3734532b1b6b",
              "name": "Status",
              "value": "Low Priority Log",
              "type": "string"
            },
            {
              "id": "e832a5a4-0c5e-46c6-b37a-dd772cc6f606",
              "name": "formttedPhone",
              "value": "={{ \"'\" + $json.phone.replace(/[\\s-]/g, '') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        80
      ],
      "id": "d1b1d9b8-ba22-45c4-ba25-b792343ee54c",
      "name": "Low Priority Tagging"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Km4HH933wqmu0z_S1IYP1aapa-Axz5jQ6IL72KAQjyc",
          "mode": "list",
          "cachedResultName": "Mock Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Km4HH933wqmu0z_S1IYfdP1aapa-Axz5jQ6IL72KAQjyc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Low Priority Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Km4HH933wqmusdf0z_S1IYP1aapa-Axz5jQ6IL72KAQjyc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "company": "={{ $json.company }}",
            "employeeCount": "={{ $json.employeeCount }}",
            "region": "={{ $json.region }}",
            "phone": "={{ $json.formttedPhone }}",
            "targetEnv": "={{ $json.targetEnv }}",
            "min_enterprise_size": "={{ $json.min_enterprise_size }}",
            "Status": "={{ $json.Status }}",
            "Tier": "={{ $json.Tier }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "employeeCount",
              "displayName": "employeeCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "region",
              "displayName": "region",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "targetEnv",
              "displayName": "targetEnv",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "min_enterprise_size",
              "displayName": "min_enterprise_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tier",
              "displayName": "Tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        80
      ],
      "id": "c1cdb6dd-3d35-441d-817a-ffe3ea1af17d",
      "name": "Low Priority Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H010SXLa70tPVtng",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d31cf1e-d0c5-4acc-8cc7-904193b9e71c",
              "name": "Status",
              "value": "High Priority",
              "type": "string"
            },
            {
              "id": "5f82b212-3408-41c5-9030-1af100da68c3",
              "name": "formatedPhone",
              "value": "={{ \"'\" + $json.phone.replace(/[\\s-]/g, '') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        -96
      ],
      "id": "d08d24d9-5ed1-4b64-8f27-6407de5d1dad",
      "name": "High Priority Tagging"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        112,
        144
      ],
      "id": "5366001d-29dc-4883-94f0-9fa7b6af1485",
      "name": "loopLoading",
      "webhookId": "b66b9f5d-a22c-45d2-9768-046a51bee638"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        -96
      ],
      "id": "440ad909-9147-43e6-bc67-49868634fd12",
      "name": "waitLowprio",
      "webhookId": "d9f2cd8e-3037-4ddc-823d-ecb70b66f1fc"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.region }}",
                    "rightValue": "US",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "57052f99-fec7-4295-867c-1ca940f186fa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "US"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "01307438-27fd-43ed-9418-beb29fee86ee",
                    "leftValue": "={{ $json.region }}",
                    "rightValue": "EU",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EU"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "051c37be-f787-4a2c-b1b4-2b8e2b1067fe",
                    "leftValue": "={{ $json.region }}",
                    "rightValue": "APAC",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "APAC"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fc83adbc-8d01-45b0-9b62-97dbfee81810",
                    "leftValue": "={{ $json.region }}",
                    "rightValue": "ROW",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ROW"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        976,
        -128
      ],
      "id": "239a8ea6-7c16-456d-ae2a-d132f42f13a8",
      "name": "Which region?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0fbd9ff-4311-4d97-92c9-521db87ed30a",
              "name": "UScontact",
              "value": "={{ \"'\" + ( $json.phone.startsWith('+') ? $json.phone : '+1-' + $json.phone ).replace(/[\\s]/g, '') }}",
              "type": "string"
            },
            {
              "id": "9e55651f-787f-464c-adfa-1d89b4893913",
              "name": "lead_tier",
              "value": "US-Enterprise",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "formatedPhone",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        -368
      ],
      "id": "a588c13f-6866-44b5-9178-780c290dbfb2",
      "name": "US-Lead Tier"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "609ced36-3b84-43fd-bd48-b1151d69b8f4",
              "name": "EUcontact",
              "value": "={{ \"'\" + $json.phone.replace(/[\\s]/g, '') }}",
              "type": "string"
            },
            {
              "id": "43313e30-0cf9-4c33-a8bb-8e68f13013a5",
              "name": "lead_tier",
              "value": "EU-Enterprise",
              "type": "string"
            },
            {
              "id": "f322921d-2f0e-4ac9-b095-01cb85d1dc6d",
              "name": "gdpr_compliant",
              "value": "TRUE",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "formatedPhone",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        -192
      ],
      "id": "cc0c934f-c871-40b2-b83f-8d310431bc5b",
      "name": "EU-Enterprise"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b925c8c1-ab42-4cec-b845-da02ce05f3eb",
              "name": "APACcontact",
              "value": "={{ \"'\" + ( $json.phone.startsWith('+') ? $json.phone : '+' + $json.phone ).replace(/[\\s-]/g, '') }}",
              "type": "string"
            },
            {
              "id": "3c950266-dd40-4b12-92a1-f33492c9f633",
              "name": "lead_tier",
              "value": "APAC-Enterprise",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "formatedPhone",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        -16
      ],
      "id": "adbad298-981c-495f-ac45-9093773a6761",
      "name": "APAC-Enterprise"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f16bda01-5fc8-40f8-92ac-704a6fbd14a8",
              "name": "ROWcontact",
              "value": "={{ \"'\" + ( $json.phone.startsWith('+') ? $json.phone : '+' + $json.phone ).replace(/[\\s-]/g, '') }}",
              "type": "string"
            },
            {
              "id": "30aa445c-d3b4-4c82-9d06-d8bb60eb26ad",
              "name": "lead_tier",
              "value": "Global-Desk-Enterprise",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "formatedPhone",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        160
      ],
      "id": "21a5f6de-99ff-4ff4-961e-40c26c526790",
      "name": "Global-Desk-Enterprise"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1568,
        -128
      ],
      "id": "a1b6c7d9-4c90-4cd0-a879-e645f5ca8a96",
      "name": "getLeads"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "39882140-ab5f-49b7-b823-dc6c8a6bad89",
              "leftValue": "={{ ['US', 'EU'].includes($json.region) }}",
              "rightValue": "EU , US",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        336,
        256
      ],
      "id": "efc4e3f7-e495-4acc-819b-ae566cf65543",
      "name": "checkMid-Tier"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9c275cb6-c517-43fe-b1e6-31c2d8621f46",
              "name": "Tier",
              "value": "Mid - Tier",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        240
      ],
      "id": "d05b489e-df32-40c8-bdb3-8dc7b4bfdefc",
      "name": "assignMid-Tier"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7168ac40-f46a-49d1-9c1f-7b6c1b8aff7a",
              "name": "Tier",
              "value": "High - Tier",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        384
      ],
      "id": "d7845300-7d46-4d3e-ada1-7d7f25acf603",
      "name": "assignHigh-Tier"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Access the individual incoming item object\nconst leadData = $input.item.json;\n\n// Simulate a flaky enterprise network / API timeout (20% chance)\nif (Math.random() < 0.2) {\n  return {\n    json: {\n      ...leadData,\n      sync_success: false,\n      error_message: \"CRM_TIMEOUT_504: The enterprise gateway failed to respond.\",\n      synced_at: null\n    }\n  };\n}\n\n// 80% of the time, the sync succeeds perfectly\nreturn {\n  json: {\n    ...leadData,\n    sync_success: true,\n    crm_id: \"crm_rec_\" + Math.random().toString(36).substring(2, 9),\n    synced_at: new Date().toISOString(),\n    error_message: null\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        -96
      ],
      "id": "dcf62c0e-8b6e-47c7-ae86-652c7c73a7a2",
      "name": "simulateError",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9d0af228-010a-436c-8b42-df3e79bf3801",
              "leftValue": "={{ $json.sync_success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1968,
        -96
      ],
      "id": "df04fc63-7527-41f0-89d0-2de395688db6",
      "name": "Check Sync Success"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        768,
        80
      ],
      "id": "027128c1-8529-4c82-8366-aa4c198c7a73",
      "name": "addMessageIfWant"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2640,
        -96
      ],
      "id": "9cb70466-ef53-45bb-ba4e-25c01e2f8bb8",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4cbc7b02-3305-4c44-ab90-eb47db39817e",
              "name": "id",
              "value": "={{ $('Check Sync Success').item.json.id }}",
              "type": "string"
            },
            {
              "id": "2f9990b3-b8b9-4ebd-af6e-317ed235480e",
              "name": "name",
              "value": "={{ $('Check Sync Success').item.json.name }}",
              "type": "string"
            },
            {
              "id": "c8c8d180-609f-4936-9467-25f612b54bd2",
              "name": "email",
              "value": "={{ $('Check Sync Success').item.json.email }}",
              "type": "string"
            },
            {
              "id": "b2229241-7b3b-46e6-ab78-045e1f52d5bd",
              "name": "company",
              "value": "={{ $('Check Sync Success').item.json.company }}",
              "type": "string"
            },
            {
              "id": "74091283-b58a-400f-b21a-a02afaf3fc68",
              "name": "employeeCount",
              "value": "={{ $('Check Sync Success').item.json.employeeCount }}",
              "type": "number"
            },
            {
              "id": "621994f2-45b0-46e1-9424-f93883839cd9",
              "name": "region",
              "value": "={{ $('Check Sync Success').item.json.region }}",
              "type": "string"
            },
            {
              "id": "06d10a3f-288f-41b6-9f63-8697feec3d0e",
              "name": "lead_tier",
              "value": "={{ $('Check Sync Success').item.json.lead_tier }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2848,
        -96
      ],
      "id": "1375fca5-e222-49dd-b38d-205dcf6996bd",
      "name": "Combine Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c420aa08-300f-4d58-9359-d271fb62d4c4",
              "name": "Success Message",
              "value": "Success!",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2208,
        -176
      ],
      "id": "90cc11ed-0866-4b3c-bd02-8ca254532780",
      "name": "Edit Success Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0836d723-dec1-4029-aa1c-dd240bc298ad",
              "name": "Error Message",
              "value": "={{ $json.error_message }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2208,
        -16
      ],
      "id": "3043a237-c0d5-4fb7-83d8-d882fde1126e",
      "name": "Edit Error Message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.googleapis.com/v1/spaces/AAQAgFTD0iI/messages?key=yourAPIhere&token=isfjgfldjgrejkasfg_P4Y9d3-4oWh7r0",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"🚨 *Enterprise Lead Synced Successfully* 🚀\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n• *Lead Name:* {{ $json.name }}\\n• *Company:* {{ $json.company }} ({{ $json.employeeCount }} employees)\\n• *Region:* {{ $json.region }} | *Tier:* {{ $json.lead_tier }}\\n• *Enriched Score:* {{ $json.lead_score }}/100\\n\\n*System Metadata:*\\n• *CRM Record ID:* {{ $json.crm_id }}\\n• *Sync Timestamp:* {{ $json.synced_at }}\\n• *GDPR Compliant:* {{ $json.gdpr_compliant || 'N/A (Non-EU)' }}\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2416,
        -176
      ],
      "id": "4495f4f8-8012-4c62-8017-fb7fafedf252",
      "name": "Success!"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.googleapis.com/v1/spaces/AAQAgFTD0iI/messages?key=yourAPIhere&token=isfjgfldjgrejkasfg_P4Y9d3-4oWh7r0",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"⚠️ *CRITICAL: Enterprise Sync Failure* 🛑\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n*Failed Lead Diagnostics:*\\n• *Lead ID:* {{ $json.id }}\\n• *Lead Name:* {{ $json.name }}\\n• *Company:* {{ $json.company }}\\n• *Region:* {{ $json.region }}\\n\\n*Error Log Details:*\\n• *Incident Report:* {{ $json.error_message }}\\n• *Action Taken:* Automatically retried (1x) -> Gateway Timeout Exhausted.\\n• *Status:* Routed to Dead Letter Queue for manual review.\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2416,
        -16
      ],
      "id": "cc72ee69-e3f2-4d59-8724-2e6497f9253a",
      "name": "Error!"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Km4HH933wqmu0z_S1IYP1aapa-Axz5jQ6IL72KAQjyc",
          "mode": "list",
          "cachedResultName": "Mock Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Km4HH933wqmu0z_S1IYP1aapa-Axz5jQ6ILfs72KAQjyc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1855944367,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Km4HH933wqmu0z_S1IYP1aapa-Axz5jQ6IL72rfsdKAQjyc/edit#gid=1855944367"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "thread",
              "displayName": "thread",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "space",
              "displayName": "space",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "employeeCount",
              "displayName": "employeeCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "region",
              "displayName": "region",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_tier",
              "displayName": "lead_tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3056,
        -96
      ],
      "id": "ac669138-8266-4f64-8580-b49755ec562b",
      "name": "logCombineData",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H010SXLa70tPVtng",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "mockData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mockData": {
      "main": [
        [
          {
            "node": "TargetEnv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TargetEnv": {
      "main": [
        [
          {
            "node": "Loop Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Items": {
      "main": [
        [
          {
            "node": "For Enrichment?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "loopLoading",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "For Enrichment?": {
      "main": [
        [
          {
            "node": "Simulate HTTP Enrichment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Low Priority Tagging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Low Priority Tagging": {
      "main": [
        [
          {
            "node": "Low Priority Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simulate HTTP Enrichment": {
      "main": [
        [
          {
            "node": "waitLowprio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loopLoading": {
      "main": [
        [
          {
            "node": "checkMid-Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "waitLowprio": {
      "main": [
        [
          {
            "node": "High Priority Tagging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Priority Tagging": {
      "main": [
        [
          {
            "node": "Which region?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Which region?": {
      "main": [
        [
          {
            "node": "US-Lead Tier",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "EU-Enterprise",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "APAC-Enterprise",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Global-Desk-Enterprise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "US-Lead Tier": {
      "main": [
        [
          {
            "node": "getLeads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EU-Enterprise": {
      "main": [
        [
          {
            "node": "getLeads",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "APAC-Enterprise": {
      "main": [
        [
          {
            "node": "getLeads",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Global-Desk-Enterprise": {
      "main": [
        [
          {
            "node": "getLeads",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "checkMid-Tier": {
      "main": [
        [
          {
            "node": "assignMid-Tier",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "assignHigh-Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "assignMid-Tier": {
      "main": [
        [
          {
            "node": "Loop Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "assignHigh-Tier": {
      "main": [
        [
          {
            "node": "Loop Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getLeads": {
      "main": [
        [
          {
            "node": "simulateError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "simulateError": {
      "main": [
        [
          {
            "node": "Check Sync Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Low Priority Log": {
      "main": [
        [
          {
            "node": "addMessageIfWant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sync Success": {
      "main": [
        [
          {
            "node": "Edit Success Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Combine Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Success Message": {
      "main": [
        [
          {
            "node": "Success!",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Error Message": {
      "main": [
        [
          {
            "node": "Error!",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success!": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error!": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Data": {
      "main": [
        [
          {
            "node": "logCombineData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cd13ac85-34cc-472c-98c0-ae9d8cff9e2c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dff061bc3c380400a4adcd35369e48669eb2b46de5ce5cb4effb0d2c7761d8e2"
  },
  "nodeGroups": [],
  "id": "QYUq3jW0fKchaam9",
  "tags": []
}
