📦 Automated Omnichannel Order Enrichment & ERP Sync Pipeline/Automated Omnichannel Order Enrichment & ERP Sync Pipeline(Sandbox).json
{
  "name": "📦 Project Title: Automated Omnichannel Order Enrichment & ERP Sync Pipeline(Sandbox)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        -1648
      ],
      "id": "df0b85a9-87d3-42f2-b98f-ffce18619860",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Generate dynamic mock e-commerce bulk orders\nconst customerTypes = ['B2B', 'B2C'];\nconst domains = ['enterprise.io', 'globaltech.com', 'gmail.com', 'yahoo.com', 'startup.co'];\nconst regions = ['US', 'EU', 'APAC'];\n\nlet mockOrders = [];\n\n// Create a batch of 10 randomized dynamic orders\nfor (let i = 1; i <= 10; i++) {\n  let type = customerTypes[Math.floor(Math.random() * customerTypes.length)];\n  let domain = domains[Math.floor(Math.random() * domains.length)];\n  let region = regions[Math.floor(Math.random() * regions.length)];\n  let subtotal = type === 'B2B' ? Math.floor(Math.random() * 5000) + 1000 : Math.floor(Math.random() * 200) + 15;\n\n  mockOrders.push({\n    order_id: 1000 + i,\n    customer_type: type,\n    email: `buyer_${i}@${domain}`,\n    region: region,\n    subtotal: subtotal,\n    timestamp: new Date().toISOString()\n  });\n}\n\n// Wrap it inside n8n's expected item format\nreturn [{ json: { orders: mockOrders } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -1648
      ],
      "id": "7d047af9-88c4-43d6-b600-723a0be64ce2",
      "name": "Simulate_Webhook_Payload"
    },
    {
      "parameters": {
        "fieldToSplitOut": "orders",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        48,
        -1648
      ],
      "id": "2ae6c479-3f9f-47ed-a593-b7c57fa2c3f1",
      "name": "Unpack Global Payload"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a58c3483-ab40-4353-92f0-2e3ec12652f2",
              "name": "ERROR",
              "value": "Error Message",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3296,
        -1552
      ],
      "id": "d864831e-1aef-4225-ab44-8fae4aae6616",
      "name": "Error Message"
    },
    {
      "parameters": {
        "jsCode": "// 1. Calculate how many total orders were successfully processed\nconst totalOrdersProcessed = $input.all().length;\n\n// 2. Extract just the raw data array to send back in the response\nconst finalizedData = $input.all().map(item => item.json);\n\n// 3. Construct a beautiful, standardized API success response\nreturn [\n  {\n    json: {\n      status: \"success\",\n      statusCode: 200,\n      message: \"Omnichannel order pipeline executed successfully.\",\n      timestamp: new Date().toISOString(),\n      meta: {\n        total_records_written: totalOrdersProcessed,\n        database_receipt_id: 101 // Confirmed from our Node 17 server write!\n      },\n      processed_orders: finalizedData\n    }\n  }\n];;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3296,
        -1744
      ],
      "id": "71d1389e-9dfa-4de3-b97b-817965581f15",
      "name": "Success Message"
    },
    {
      "parameters": {
        "content": "# 📦 Project Title: Automated Omnichannel Order Enrichment & ERP Sync Pipeline\n\n## 🚀 Overview\n\nAn automated backend data pipeline built in n8n designed to ingest, process, enrich, and route regional e-commerce and enterprise B2B orders. The system normalizes incoming payloads, injects localized regulatory/routing compliance details, performs a bulk database transactional sync, and implements real-time error-handling architecture.\n\n---\n\n## 🛠️ Architecture Flow\n\n* **Data Ingestion:** Webhook entry parsing real-time order streams.\n* **Financial & Logic Engine:** JavaScript transformation layers scaling subtotals, tax matrices, and routing criteria.\n* **Regional Localization Core:** Tri-branch routing architecture dividing data into tailored regions:\n* `US-EAST-LAX` (USD tracking)\n* `EU-WEST-AMS` (EUR + GDPR protection compliance tagging)\n* `APAC-SOUTH-SIN` (SGD + customs duty pre-clearance tracking)\n\n\n* **ERP Database Sync:** Consolidated array flattening for high-efficiency, single-payload database writes.\n* **Error Gatekeeping:** Conditional response inspection (`id: 101` validation) separating functional traffic from server fallbacks.\n\n---\n\n## ⚙️ Configuration & Environment Settings\n\n### Node 17: Database Write (HTTP Request)\n\n* **Method:** `POST`\n* **Body Content Type:** `JSON`\n* **Expression Payload:** `{{ $input.all().map(item => item.json) }}`\n* **Error Resilience Setting:** `Continue (detaching error info)` / `Never Fail` enabled to capture network state drops gracefully.\n\n### Node 18: Traffic Control Error Gate (If Node)\n\n* **Data Type Comparison:** `String`\n* **Condition:** `{{ $json.id }}` $\\rightarrow$ **Equals** $\\rightarrow$ `101`\n* **Routing Logic:**\n* `True` $\\rightarrow$ Routes directly to Node 20 (Client Handshake Success Response).\n* `False` $\\rightarrow$ Routes to Node 19 (DevOps Slack Notification / Alert Handler).\n\n\n\n### Node 20: Webhook Response Handshake\n\n* **Execution Mode:** `Run Once for All Items`\n* **Output Payload Structure:**\n```json\n{\n  \"status\": \"success\",\n  \"statusCode\": 200,\n  \"message\": \"Omnichannel order pipeline executed successfully.\",\n  \"timestamp\": \"YYYY-MM-DDTHH:MM:SS.MMMZ\",\n  \"database_receipt\": {\n    \"id\": 101,\n    \"status_text\": \"Records Bulk-Written to Warehouse\"\n  }\n}\n\n```\n\n\n\n---\n\n## 📈 Key Operations & Monitoring\n\n* **Deployment:** Flip the **Active** toggle switch in the top-right corner to point live production webhooks toward this workflow endpoint.\n* **Error Recovery:** If an outage is detected on the ERP end, check the tracking executions stemming from the **False** branch of Node 18 to isolate missing indices.",
        "height": 1824,
        "width": 1600
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2096,
        -2496
      ],
      "id": "bd3a5291-e697-4e24-bb8c-2f647c1c0d8a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.orders.customer_type }}",
                    "rightValue": "=B2B",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0d844755-7881-444a-af36-e634f82842e3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "B2B"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6e9eb403-ed81-4805-b8ab-bba1f517f3b7",
                    "leftValue": "={{ $json.orders.customer_type }}",
                    "rightValue": "B2C",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "B2C"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        256,
        -1648
      ],
      "id": "5f8c806a-0a39-4eb2-b98f-7ee49fada537",
      "name": "Route by Customer Type"
    },
    {
      "parameters": {
        "url": "=https://jsonplaceholder.typicode.com/users/{{ ($json.orders.order_id % 10) + 1 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        -1808
      ],
      "id": "8bece4d5-955d-406b-868d-f3f8296e0b67",
      "name": "B2B Corporate Enrichment API"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd781173-537f-4b94-81cc-fc7cb2ef1d52",
              "name": "order_id",
              "value": "={{ $('Route by Customer Type').item.json.orders.order_id }}",
              "type": "number"
            },
            {
              "id": "8ed11806-87d2-4949-88b9-c1d6ba182864",
              "name": "customer_type",
              "value": "={{ $('Route by Customer Type').item.json.orders.customer_type }}",
              "type": "string"
            },
            {
              "id": "a2c61cd4-805f-4fbb-acdf-992368be7ecd",
              "name": "company_name",
              "value": "={{ $json.company.name }}",
              "type": "string"
            },
            {
              "id": "7f0b6747-e190-4f57-878a-8b9d94e073e8",
              "name": "company_industry",
              "value": "={{ $json.company.catchPhrase }}",
              "type": "string"
            },
            {
              "id": "11c784bb-15eb-496b-b447-530303def99c",
              "name": "subtotal",
              "value": "={{ $('Route by Customer Type').item.json.orders.subtotal }}",
              "type": "number"
            },
            {
              "id": "a399a920-2647-4933-8339-1c52b5d4c96f",
              "name": "email",
              "value": "={{ $('Route by Customer Type').item.json.orders.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        -1808
      ],
      "id": "345d3055-405b-45e5-9ea4-4102c2e6c2a8",
      "name": "Map Corporate Metadata"
    },
    {
      "parameters": {
        "url": "=https://jsonplaceholder.typicode.com/todos/{{ ($json.orders.order_id % 10) + 1 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        -1488
      ],
      "id": "479b317d-811c-42e9-94e8-73b5b634f6db",
      "name": "B2C Fraud & Risk API"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93794183-fb43-4aee-a76f-9c97e75bcff3",
              "name": "order_id",
              "value": "={{ $('Route by Customer Type').item.json.orders.order_id }}",
              "type": "number"
            },
            {
              "id": "9a2dae8f-aa75-460e-afa8-0e4d5e32fc14",
              "name": "customer_type",
              "value": "={{ $('Route by Customer Type').item.json.orders.customer_type }}",
              "type": "string"
            },
            {
              "id": "8cdc12fe-7ade-43db-9ffb-6661621ec43d",
              "name": "email",
              "value": "={{ $('Route by Customer Type').item.json.orders.email }}",
              "type": "string"
            },
            {
              "id": "f4d9d51f-9fba-4cc7-af7d-e06d054ddd38",
              "name": "company_name",
              "value": "Individual Retail Buyer",
              "type": "string"
            },
            {
              "id": "7c60eeae-1eef-4875-975a-5950dc32e843",
              "name": "company_industry",
              "value": "={{ $json.completed ? 'Low Risk Profile' : 'High Risk Verification Required' }}",
              "type": "string"
            },
            {
              "id": "18011b80-82ef-4396-8773-4110134ad516",
              "name": "subtotal",
              "value": "={{ $('Route by Customer Type').item.json.orders.subtotal }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        -1488
      ],
      "id": "5bdf5147-9d45-4822-b801-4ee34bc2f4b7",
      "name": "Map Fraud Telemetry"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1168,
        -1648
      ],
      "id": "5dd6e7fd-86bd-4093-82c3-287839bd5064",
      "name": "Recombine B2B & B2C Streams"
    },
    {
      "parameters": {
        "jsCode": "// 1. Grab all merged items traveling down the pipeline\nconst items = $input.all();\n\n// 2. Loop through each individual order to calculate financials\nfor (let item of items) {\n  let subtotal = item.json.subtotal || 0;\n  let type = item.json.customer_type;\n  \n  // Base tax rate of 10%\n  let taxRate = 0.10; \n  let taxAmount = subtotal * taxRate;\n  \n  // Apply a 5% discount ONLY for B2B orders over $2500\n  let discountAmount = 0;\n  if (type === 'B2B' && subtotal >= 2500) {\n    discountAmount = subtotal * 0.05;\n  }\n  \n  // Run the enterprise formula: Final = Subtotal + Tax - Discount\n  let finalTotal = subtotal + taxAmount - discountAmount;\n  \n  // 3. Append the calculated numbers back onto the item tray\n  item.json.tax_applied = parseFloat(taxAmount.toFixed(2));\n  item.json.discount_applied = parseFloat(discountAmount.toFixed(2));\n  item.json.final_total = parseFloat(finalTotal.toFixed(2));\n}\n\n// 4. Send the enriched orders forward\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        -1648
      ],
      "id": "5ad673c2-a6b2-4ef9-a688-65641ba219de",
      "name": "Advanced Tax & Compliance Engine"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Unpack Global Payload').item.json.orders.region }}",
                    "rightValue": "EU",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "78b502a0-f944-47a0-a6f2-b55ea059c9a5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EU"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "08c6fdf5-de0b-47c5-a720-e72b57ef32f3",
                    "leftValue": "={{ $('Unpack Global Payload').item.json.orders.region }}",
                    "rightValue": "APAC",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "APAC"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5c67a699-d262-40c7-a60c-c166db37996e",
                    "leftValue": "={{ $('Unpack Global Payload').item.json.orders.region }}",
                    "rightValue": "US",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "US"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1584,
        -1664
      ],
      "id": "ae10dc7e-5df9-42b7-8dfa-7d8ce9ad8971",
      "name": "Geographic Fulfillment Routing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8853d58-1b17-470f-8488-942a74a68261",
              "name": "routing_hub",
              "value": "US-EAST-LAX",
              "type": "string"
            },
            {
              "id": "d8fca380-ea84-49a7-9c84-f6ce4d54f161",
              "name": "currency",
              "value": "USD",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        -1456
      ],
      "id": "4501dbf8-b3cd-4d13-b117-9e29fe638465",
      "name": "US Customs Compliance"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd4d3aab-2da9-42f3-9343-63ebd048a5d5",
              "name": "routing_hub",
              "value": "EU-WEST-AMS",
              "type": "string"
            },
            {
              "id": "56c129a2-7040-42b2-81dc-b900ccc6d368",
              "name": "currency",
              "value": "EUR",
              "type": "string"
            },
            {
              "id": "a4d2b269-e75b-4c39-b125-de19c58de512",
              "name": "gdpr_status",
              "value": "Anonymized & Compliant",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        -1856
      ],
      "id": "70dcff8d-34ad-472d-8461-5c9470e1914b",
      "name": "EU VAT & GDPR Compliance"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "734c2857-f7cf-4b8f-8b17-987790cf1fc5",
              "name": "routing_hub",
              "value": "APAC-SOUTH-SIN",
              "type": "string"
            },
            {
              "id": "07bdf8f2-434f-4158-a7fc-cbea9b8e36be",
              "name": "currency",
              "value": "SGD",
              "type": "string"
            },
            {
              "id": "749f9cb6-958a-4bf9-a817-18e74d1b8f61",
              "name": "duty_handshake",
              "value": "Pre-Cleared / Exempt",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        -1648
      ],
      "id": "e2427c30-2527-4c20-98dd-47258f3ce9a0",
      "name": "APAC Duty Calculator"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2384,
        -1664
      ],
      "id": "53b009a7-06f3-4ea6-b135-bc86bdccc8b4",
      "name": "Recombine Geographic Streams"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2608,
        -1648
      ],
      "id": "860674d2-f6f6-44d6-870a-211612570f57",
      "name": "Combine Back into Single Array"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jsonplaceholder.typicode.com/posts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $input.all().map(item => item.json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2816,
        -1648
      ],
      "id": "0c8837cf-e23d-464e-a500-a177dad57166",
      "name": "ERP / Warehouse Database Write",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "28d8886f-4680-478f-9d95-1cc0373b6115",
              "leftValue": "={{ $json.id }}",
              "rightValue": 101,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3024,
        -1648
      ],
      "id": "a0b0e067-138c-49c7-aebf-2f7aa406d1d7",
      "name": "Check Writing Errors"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Simulate_Webhook_Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simulate_Webhook_Payload": {
      "main": [
        [
          {
            "node": "Unpack Global Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unpack Global Payload": {
      "main": [
        [
          {
            "node": "Route by Customer Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Customer Type": {
      "main": [
        [
          {
            "node": "B2B Corporate Enrichment API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "B2C Fraud & Risk API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B2B Corporate Enrichment API": {
      "main": [
        [
          {
            "node": "Map Corporate Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Corporate Metadata": {
      "main": [
        [
          {
            "node": "Recombine B2B & B2C Streams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B2C Fraud & Risk API": {
      "main": [
        [
          {
            "node": "Map Fraud Telemetry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Fraud Telemetry": {
      "main": [
        [
          {
            "node": "Recombine B2B & B2C Streams",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Recombine B2B & B2C Streams": {
      "main": [
        [
          {
            "node": "Advanced Tax & Compliance Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advanced Tax & Compliance Engine": {
      "main": [
        [
          {
            "node": "Geographic Fulfillment Routing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Geographic Fulfillment Routing": {
      "main": [
        [
          {
            "node": "EU VAT & GDPR Compliance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "APAC Duty Calculator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "US Customs Compliance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "US Customs Compliance": {
      "main": [
        [
          {
            "node": "Recombine Geographic Streams",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "EU VAT & GDPR Compliance": {
      "main": [
        [
          {
            "node": "Recombine Geographic Streams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "APAC Duty Calculator": {
      "main": [
        [
          {
            "node": "Recombine Geographic Streams",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Recombine Geographic Streams": {
      "main": [
        [
          {
            "node": "Combine Back into Single Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Back into Single Array": {
      "main": [
        [
          {
            "node": "ERP / Warehouse Database Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ERP / Warehouse Database Write": {
      "main": [
        [
          {
            "node": "Check Writing Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Writing Errors": {
      "main": [
        [
          {
            "node": "Success Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4f2f8c26-d7e8-414d-9279-e5a5eba7c5f6",
  "meta": {
    "instanceId": "dff061bc3c380400a4adcd35369e48669eb2b46de5ce5cb4effb0d2c7761d8e2"
  },
  "nodeGroups": [],
  "id": "NSiG3eieBPGYMs8K",
  "tags": []
}
