Hackathon Finisher Certificate Bot/Hackathon Finisher Certificate Bot.json
{
  "name": "Hackathon Finisher Certificate Bot clean",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        -32
      ],
      "id": "625de030-0beb-4ea7-9dbe-3fc059eb9acf",
      "name": "trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        -32
      ],
      "id": "c3b124f1-ee94-4e23-8d93-975716666295",
      "name": "getData",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fBB6nOzGVQi6RE7Z",
          "name": "Google Sheets account clean"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst mvpIndex = Math.floor(Math.random() * items.length);\n\nreturn items.map((item, i) => {\n  item.json.isMVP = (i === mvpIndex);\n  item.json.badge = (i === mvpIndex) ? \"🏆 MVP Award\" : \"\";\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -32
      ],
      "id": "33db370a-324e-4302-9ed7-cb610ad11886",
      "name": "pickMVP"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        496,
        -32
      ],
      "id": "5a26c67b-b845-4a28-b17b-1a53f42bd3b3",
      "name": "loopData"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    ...$json,\n    certificateHtml: `\n      <html>\n      <body style=\"text-align:center; font-family:Georgia, serif; border:10px solid #333; padding:60px;\">\n        <h1>Certificate of Survival</h1>\n        <h2>This certifies that</h2>\n        <h1 style=\"color:#d4af37;\">${$json.Name}</h1>\n        <p>has officially <b>SURVIVED 48 HOURS</b> of the Hackathon</p>\n        <p>Final Rank: #${$json.Rank}</p>\n        ${$json.isMVP ? '<h2 style=\"color:#ff6600;\">🏆 MVP AWARD WINNER 🏆</h2>' : ''}\n        <p>Issued on ${new Date().toLocaleDateString()}</p>\n      </body>\n      </html>\n    `\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        80
      ],
      "id": "239c0385-84d4-4c8c-85e5-57aecd441a91",
      "name": "generateCert"
    },
    {
      "parameters": {
        "html_content": "={{ $json.certificateHtml }}"
      },
      "type": "n8n-nodes-htmlcsstopdf.htmlcsstopdf",
      "typeVersion": 1,
      "position": [
        944,
        80
      ],
      "id": "5a6b1c50-2899-4f52-a502-64db9a626c7d",
      "name": "convertCert",
      "credentials": {
        "htmlcsstopdfApi": {
          "id": "4VYWu3WChYid3iZd",
          "name": "HTML to PDF account clean"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.pdf_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1152,
        80
      ],
      "id": "5f78b920-8573-4e3a-b4e6-576004147fcf",
      "name": "getPDFCert"
    },
    {
      "parameters": {
        "subject": "=🎉 You Survived 48 Hours, {{ $('generateCert').item.json.Name }}!",
        "message": "=Hey {{ $('generateCert').item.json.Name }},\n\nCongratulations — you officially SURVIVED 48 HOURS of the hackathon! 🎉\n\nFinal Rank: #{{ $('generateCert').item.json.Rank }}\n\n{{ $('generateCert').item.json.isMVP ? \"🏆 And guess what — you're this run's MVP Award winner! Well deserved.\" : \"\" }}\n\nYour certificate is attached — wear that survivor badge with pride.\n\nSee you at the next one!",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1360,
        80
      ],
      "id": "2ce2490c-56a6-4a17-8b73-e60b566a1af2",
      "name": "Send a message",
      "webhookId": "d34952f8-2284-44cb-8518-42748ee45f51",
      "credentials": {
        "gmailOAuth2": {
          "id": "mvJurJtpalZzJPVO",
          "name": "Gmail account clean"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "929dbe4c-b52a-4f51-a3a3-8efb01141379",
              "leftValue": "={{ $('pickMVP').item.json.isMVP }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        -160
      ],
      "id": "c444355c-f654-42eb-8a04-064039a77ca9",
      "name": "isMVP?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        944,
        -64
      ],
      "id": "c3c5aff7-eef7-4858-90de-005102cb83f4",
      "name": "notMVP"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "text": "=🏆 *MVP Award Alert!* 🏆\n\nThis run's Hackathon MVP is... *{{ $('generateCert').item.json.Name }}*! 🎉\n\nRank: #{{ $('generateCert').item.json.Rank }}\nSurvived 48 hours and earned the random MVP pick this round. Give them a shoutout! 🙌",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        944,
        -256
      ],
      "id": "1c0b2ea9-0602-45e7-b57d-51139e03f1a2",
      "name": "MVPmessage",
      "webhookId": "9224fae9-746c-4518-a2fe-ee6a1a649406",
      "credentials": {
        "slackApi": {
          "id": "Wwm0VjnokGLQ1vSE",
          "name": "Slack Clean"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "trigger": {
      "main": [
        [
          {
            "node": "getData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getData": {
      "main": [
        [
          {
            "node": "pickMVP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loopData": {
      "main": [
        [
          {
            "node": "isMVP?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "generateCert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pickMVP": {
      "main": [
        [
          {
            "node": "loopData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generateCert": {
      "main": [
        [
          {
            "node": "convertCert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convertCert": {
      "main": [
        [
          {
            "node": "getPDFCert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getPDFCert": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "loopData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isMVP?": {
      "main": [
        [
          {
            "node": "MVPmessage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "notMVP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Manila",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "c0158210-b160-40b4-b505-1d3f877e81dd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6e0c81e4fb59b429c00e146454cbad9c9647be357aed7cbe1314bb7130321d6"
  },
  "nodeGroups": [],
  "id": "G8jt3QNLRiRLvQPm",
  "tags": []
}